.no-box {
    background: none;
    border:     none;
    box-shadow: none;
}

@media not print {
  .slide-header {
    position: fixed;
    top: -3%;
    left: -16%;
    width: 140%;
  }

  .slide-header {
      background-color: #002546;
  }

  .slide-header > p {
      position: relative;
      float: left;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 11px;
      padding-left: 50px;
      font-size: 150%;
  }

  .slide-header > p {
      color: #ffffff;
  }

  .headerMeme {
    position: fixed;
    top: 5%;
    right: -10%;
    width: 35%;
    max-width: 45%;
    max-height: 45%;
  }
  
}

.side-image {
  float: left;
  position: absolute;
  vertical-align: middle;
  right: -10%;
  border: 0;
}


/* columns slides */
.container{
  display: flex;
}
.col{
    flex: 1;
}

ol.alphaList {
  list-style-type: lower-alpha;
}


/* ########## Queries */
@media only screen and (min-width: 600px) {
    .slide-header > p {
        padding-left: 85px;

    }

  
}

@media only screen and (min-width: 1500px) {
    .slide-header > p {
        padding-left: 95px;
    }
}

@media print {
  .reveal p {
    font-size: 26pt;
  }
}

@media screen and (max-width: 1280px) {
  .slide-header > p {
    padding-left: 95px;
    font-size: 32px
  }

  .reveal p {
    margin: 5px 0;
    line-height: 1.0;
    font-size: 24px;
  }

  .reveal b {
    margin: 5px 0;
    line-height: 1.0;
    font-size: 24px;
  }

  .reveal span {
    margin: 5px 0;
    line-height: 1.0;
    font-size: 24px;
  }

  .reveal code {
    font-size: 24px;
  }

  .reveal pre {
    width: auto;
  }
}
